*.pyc
.idea/*
.cache/*
scaper.egg-info/*
tests/local/*
.coverage
build/*
dist/*
docs/_build/*
scaper/bin/*
.pytest_cache/*
tests/separation/mix_sources/foreground/*.wav
tests/separation/mix_sources/background/*.wav
*.DS_Store
tests/.DS_Store